<!-- 
https://flowbite.com/docs/components/sidebar/ -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>GURO Desktop App</title>

    <style>
      
        /* width */
      ::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        opacity: 0.0;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 7px;
      }
      
    </style>
  </head>
  <body class="text-blueGray-700 antialiased bg-gray-700" spellcheck="false">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root w-full" style="height: 100vh;">


      <div class="fixed grid w-64 bg-gray-800" style="grid-template-rows: 150px 1fr; height: 100vh">

        <div class="flex items-center pl-2.5 mb-5 mt-8 mb-12">
          <img src="https://randomuser.me/api/portraits/men/68.jpg" class="mr-3 h-16 rounded-full" alt="Flowbite Logo" />
          <div class="self-center whitespace-nowrap flex flex-col">
            <span class="text-xl font-semibold text-white flex flex-wrap space-x-2" id="adminNameDiv">
              <div>Nombre</div>
              <div>Apellido</div>
            </span>
            <span class="text-sm font-medium italic text-gray-200">Administrador</span>
          </div>
       </div>

        <div class="overflow-y-auto flex flex-col space-y-2 border-t border-gray-900 shadow-lg">
          {% set dashboardOptions =  
            ["Dashboard",
            "Profesionales", 
            "Clientes",
            "Controlar Pagos",
            "Calcular Accidentabilidad",
            "Visualizar Actividades",
            "Notificar Atrasos",
            "Generar reporte cliente",
            "Generar reporte global"]  
          %}
          {% set dashboardOptionIcons =  
            ["fa-sharp fa-solid fa-house",
            "fa-solid fa-user", 
            "fa-solid fa-user",
            "fa-solid fa-money-bill",
            "fa-solid fa-circle-info",
            "fa-solid fa-layer-group",
            "fa-solid fa-clock",
            "fa-solid fa-chart-simple",
            "fa-solid fa-chart-simple"]  
          %}
          {% set counter = 0 %}
          {% for dashboardOption in dashboardOptions -%}
               <div class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700 select-none dashboardOptions" id="dashboardOption{{counter}}">
                  <div class="w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 group-hover:text-white">
                    <div class="{{ dashboardOptionIcons[counter] }}"></div>
                  </div>
                  <span class="ml-3">{{ dashboardOption }}</span>
               </div>
          {% set counter = counter + 1 %}
          {%- endfor %} 
        </div>
      </div>

      <div id="viewContent border" class="h-full ml-64">

        <div class="dashboardOptionsBody hidden flex flex-col space-y-4" style="height: 100vh;">
          {% include 'views/adminDashboardOptions/dashboard.html' %}
        </div>
  
        <div class="dashboardOptionsBody hidden flex flex-col space-y-4" style="height: 100vh;">
          {% include 'views/adminDashboardOptions/profesionales.html' %}
        </div>
  
        <div class="dashboardOptionsBody hidden flex flex-col space-y-4" style="height: 100vh;">
          {% include 'views/adminDashboardOptions/clientes.html' %}
        </div>
  
        <div class="dashboardOptionsBody hidden flex flex-col space-y-4" style="height: 100vh;">
          {% include 'views/adminDashboardOptions/controlar_pagos.html' %}
        </div>
  
        <div class="dashboardOptionsBody hidden flex flex-col space-y-4" style="height: 100vh;">
          {% include 'views/adminDashboardOptions/calcular_accidentabilidad.html' %}
        </div>
  
        <div class="dashboardOptionsBody hidden flex flex-col space-y-4" style="height: 100vh;">
          {% include 'views/adminDashboardOptions/visualizar_actividades.html' %}
        </div>
  
        <div class="dashboardOptionsBody hidden flex flex-col space-y-4" style="height: 100vh;">
          {% include 'views/adminDashboardOptions/notificar_atrasos.html' %}
        </div>
  
        <div class="dashboardOptionsBody hidden flex flex-col space-y-4" style="height: 100vh;">
          <!-- {% include 'views/adminDashboardOptions/profesionales.html' %} -->
        </div>
  
        <div class="dashboardOptionsBody hidden flex flex-col space-y-4" style="height: 100vh;">
          <!-- {% include 'views/adminDashboardOptions/profesionales.html' %} -->
        </div>
  
       </div>
    </div>

    
      
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      charset="utf-8"
    ></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

  <script defer src="../viewScripts/adminDashboard.js"></script>
  </body>
</html>