<div class="mainView">
    <div class="border-b border-gray-800 shadow-lg w-full h-16 grid select-none" style="grid-template-columns: 150px 0.9fr 1fr;">
        <div class="flex ml-4 mr-auto my-auto space-x-2">
            <i class="m-auto text-gray-200 fa-solid fa-pen-to-square"></i>
            <div class="italic text-white font-bold">Clientes</div>
        </div>
        <div class="text-gray-200 font-medium flex mr-auto my-auto space-x-4" id="clientsDisplayOptionContainer">
            <div class="clientsDisplayOption px-2 rounded-lg hover:bg-gray-600 bg-gray-800 active" option="1" onclick="toggleClientsDisplay(this)">Todos</div>
            <div class="clientsDisplayOption px-2 rounded-lg hover:bg-gray-600" option="2"  onclick="toggleClientsDisplay(this)">Activos</div>
            <div class="clientsDisplayOption px-2 rounded-lg hover:bg-gray-600" option="3"  onclick="toggleClientsDisplay(this)">Inactivos</div>
            <div class="clientsDisplayOption px-2 rounded-lg hover:bg-gray-600" option="4"  onclick="toggleClientsDisplay(this)">Empresas</div>
        </div>
        <div class="text-gray-200 font-medium flex space-x-3 ml-auto pr-4">
            <div class="px-3 py-1 rounded-lg bg-green-600 hover:bg-green-700 my-auto">Añadir Cliente</div>
            <div class="px-3 py-1 rounded-lg bg-orange-700 hover:bg-orange-800 my-auto">Añadir Empresa</div>
        </div>
    </div>
    
    <div class="py-2 w-full flex my-auto px-6">
        <input id="clientesSearch" class="border rounded-lg h-12 w-full pl-2 text-gray-200 text-xl bg-gray-800 border-gray-900 border-2 focus:border-black focus:outline-none focus:border-3" type="text" placeholder="Buscar"/>
    </div>
    
    <div class="p-2 text-gray-100 select-none overflow-y-auto" id="clientListContainer">
    
    </div>
</div>
    

<div class="editView hidden">
    <div class="text-white">vista de editar</div>
</div>

