<!-- 
https://flowbite.com/docs/components/sidebar/ -->

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Base64/1.1.0/base64.min.js" integrity="sha512-gysqkfMGKYvQSEPi68aIzL4ffmrQ0I6azOoPJ+ocle8k1bblsHJh7QVVoy4HHQG2iPzvFmRbs81d8kkVSyCkjA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>GURO Desktop App</title>

    <style>
      
        /* width */
      ::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        opacity: 0.0;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: black;
        border-radius: 7px;
      }
      
    </style>

<style>
  .profile-pic {
 color: transparent;
 transition: all 0.3s ease;
 display: flex;
 justify-content: center;
 align-items: center;
 position: relative;
 transition: all 0.3s ease;
}
.profile-pic input {
 display: none;
}
.profile-pic img {
 position: absolute;
 object-fit: cover;
 width: 80px;
 height: 80px;
 box-shadow: 0 0 10px 0 rgba(255, 255, 255, .35);
 border-radius: 100px;
 z-index: 0;
}
.profile-pic .-label {
 cursor: pointer;
 height: 80px;
 width: 80px;
}
.profile-pic:hover .-label {
 display: flex;
 justify-content: center;
 align-items: center;
 background-color: rgba(0, 0, 0, .5);
 z-index: 10000;
 color: #fafafa;
 transition: background-color 0.2s ease-in-out;
 border-radius: 100px;
 margin-bottom: 0;
}

</style>

  </head>
  <body class="text-blueGray-700 antialiased bg-gray-700 overflow-y-hidden" spellcheck="false">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root w-full" style="height: 100vh;">


      <div class="fixed grid w-64 bg-gray-800" style="grid-template-rows: 150px 1fr; height: 100vh">
        <div class="grid" style="grid-template-rows: 1.5fr 1fr;">
          <div class="flex items-center pl-2.5">
            <img src="https://www.theeducationabroad.com/admin-frame/gallery-img/admin.png" class="mr-3 h-16 rounded-full" alt="Flowbite Logo" />
            <div class="self-center whitespace-nowrap flex flex-col">
              <span class="text-xl font-medium italic text-gray-200">Administrador</span>
            </div>
         </div>
         <div class="flex w-full">
          <span class="text-lg font-semibold text-white flex flex-col space-x-2 mx-auto" id="adminNameDiv">
            <div class="p-2 border border-gray-900 shadow-2xl rounded-lg">Nombre Apellido</div>
          </span>
         </div>
        </div>
        

        <div class="overflow-y-auto flex flex-col space-y-2 border-t border-gray-900 shadow-lg">
          
          
          
          <div class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700 select-none dashboardOptions" id="dashboardOption0">
                  <div class="w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 group-hover:text-white">
                    <div class="fa-sharp fa-solid fa-house"></div>
                  </div>
                  <span class="ml-3">Dashboard</span>
               </div>
          <div class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700 select-none dashboardOptions" id="dashboardOption1">
                  <div class="w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 group-hover:text-white">
                    <div class="fa-solid fa-user"></div>
                  </div>
                  <span class="ml-3">Profesionales</span>
               </div>
          <div class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700 select-none dashboardOptions" id="dashboardOption2">
                  <div class="w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 group-hover:text-white">
                    <div class="fa-solid fa-user"></div>
                  </div>
                  <span class="ml-3">Clientes</span>
               </div>
          <div class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700 select-none dashboardOptions" id="dashboardOption3">
                  <div class="w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 group-hover:text-white">
                    <div class="fa-solid fa-money-bill"></div>
                  </div>
                  <span class="ml-3">Controlar Pagos</span>
               </div>
          <div class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700 select-none dashboardOptions" id="dashboardOption4">
                  <div class="w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 group-hover:text-white">
                    <div class="fa-solid fa-circle-info"></div>
                  </div>
                  <span class="ml-3">Calcular Accidentabilidad</span>
               </div>
          <div class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700 select-none dashboardOptions" id="dashboardOption5">
                  <div class="w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 group-hover:text-white">
                    <div class="fa-solid fa-layer-group"></div>
                  </div>
                  <span class="ml-3">Visualizar Actividades</span>
               </div>
          <div class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700 select-none dashboardOptions" id="dashboardOption6">
                  <div class="w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 group-hover:text-white">
                    <div class="fa-solid fa-clock"></div>
                  </div>
                  <span class="ml-3">Notificar Atrasos</span>
               </div>
          <div class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700 select-none dashboardOptions" id="dashboardOption7">
                  <div class="w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 group-hover:text-white">
                    <div class="fa-solid fa-chart-simple"></div>
                  </div>
                  <span class="ml-3">Generar reporte cliente</span>
               </div>
          <div class="flex items-center p-2 text-base font-normal rounded-lg text-white hover:bg-gray-700 select-none dashboardOptions" id="dashboardOption8">
                  <div class="w-6 h-6 transition duration-75 text-gray-400 group-hover:text-gray-900 group-hover:text-white">
                    <div class="fa-solid fa-chart-simple"></div>
                  </div>
                  <span class="ml-3">Generar reporte global</span>
               </div>
           
        </div>
      </div>

      <div id="viewContent border" class="h-full ml-64">

        <div class="dashboardOptionsBody hidden" style="height: 100vh;">
          <div class="mainView h-full">
    <div class="grid h-full" style="grid-template-rows: 100px 1fr;">
        <div class="text-gray-200 italic font-medium p-6" style="font-size: 48px;">
            Dashboard
        </div>
        <div class="h-full flex" style="padding-bottom: 100px;">
            <div class="m-auto text-gray-300 font-medium" style="font-size: 64px;">En desarrollo</div>
        </div>
    </div>
</div>

        </div>
  
        <div class="dashboardOptionsBody hidden" style="height: 100vh;">
          <div class="mainView">
    <div class="border-b border-gray-800 shadow-lg w-full h-16 grid select-none" style="grid-template-columns: 200px 0.9fr 1fr;">
        <div class="flex ml-4 mr-auto my-auto space-x-2">
            <i class="m-auto text-gray-200 fa-solid fa-pen-to-square"></i>
            <div class="italic text-white font-bold">Profesionales</div>
        </div>
        <div class="text-gray-200 font-medium flex mr-auto my-auto space-x-4" id="profesionalDisplayOptionContainer">
            <div class="profesionalsDisplayOption px-2 rounded-lg hover:bg-gray-600 bg-gray-800 active" option="1" onclick="toggleProfesionalsDisplay(this)">Todos</div>
            <div class="profesionalsDisplayOption px-2 rounded-lg hover:bg-gray-600" option="2"  onclick="toggleProfesionalsDisplay(this)">Activos</div>
            <div class="profesionalsDisplayOption px-2 rounded-lg hover:bg-gray-600" option="3"  onclick="toggleProfesionalsDisplay(this)">Inactivos</div>
        </div>
        <div class="text-gray-200 font-medium flex space-x-3 ml-auto pr-4">
            <div class="px-3 py-1 rounded-lg bg-green-600 hover:bg-green-700 my-auto">Añadir Profesional</div>
        </div>
    </div>

    <div class="py-2 w-full flex my-auto px-6">
        <input id="profesionalesSearch" class="border rounded-lg h-12 w-full pl-2 text-gray-200 text-xl bg-gray-800 border-gray-900 border-2 focus:border-black focus:outline-none focus:border-3" type="text" placeholder="Buscar"/>
    </div>

    <div class="p-2 text-gray-100 select-none overflow-y-auto" id="profesionalListContainer">

    </div>
</div>

<div class="editView text-white h-full hidden">
    <div class="grid h-full" style="grid-template-rows: 1fr 100px;">
        <div class="flex flex-col" id="profesionalUserID">
            <div class="w-full h-36 grid" style="grid-template-columns: 150px 1fr;">
                <div class="ml-12 m-auto profile-pic flex">
                    <label class="-label bg-gray-200 rounded-full" for="file">
                      <span class="glyphicon glyphicon-camera"></span>
                    </label>
                    <input id="file" type="file" onchange="loadFile(event)"/>
                    <img src="https://cdn.icon-icons.com/icons2/2506/PNG/512/user_icon_150670.png" id="profesionalPFP" width="200" />
                  </div>

                  <div class="flex flex-col">
                    <div class="text-gray-300 italic mt-12 text-xl" id="profesionalRutDisplay">Rut: 11.111.111-1</div>
                    <div class="flex space-x-2">
                        <div class="my-auto">Username:</div>
                        <input id="profesionalUsernameInput" class="pl-2 font-medium border border-gray-900 bg-gray-800 h-8 rounded-lg shadow-lg focus:outline-0 focus:border-black focus:border-2" style="width:150px;" type="text">
                    </div>
                  </div>
                  
            </div>
            
           <div class="grid" style="grid-template-columns:1.4fr 1fr;">
                <div class="flex flex-col space-y-4 ml-12 mt-12">
                    <div class="grid" style="grid-template-columns: 120px 1fr;">
                        <div class="my-auto">Nombres:</div>
                        <input id="profesionalNombresInput" class="pl-2 font-medium border border-gray-900 bg-gray-800 h-10 rounded-lg shadow-lg focus:outline-0 focus:border-black focus:border-2" style="width:300px;" type="text">
                    </div>
                    <div class="grid" style="grid-template-columns: 120px 1fr;">
                        <div class="my-auto">Apellidos:</div>
                        <input id="profesionalApellidosInput" class="pl-2 font-medium border border-gray-900 bg-gray-800 h-10 rounded-lg shadow-lg focus:outline-0 focus:border-black focus:border-2" style="width:300px;" type="text">
                    </div>
                    <div class="grid" style="grid-template-columns: 120px 1fr;">
                        <div class="my-auto">Email:</div>
                        <input id="profesionalEmailInput" class="pl-2 font-medium border border-gray-900 bg-gray-800 h-10 rounded-lg shadow-lg focus:outline-0 focus:border-black focus:border-2" style="width:300px;" type="text">
                    </div>
                    <div class="grid" style="grid-template-columns: 120px 1fr;">
                        <div class="my-auto">Telefono:</div>
                        <input id="profesionalTelefonoInput" class="pl-2 font-medium border border-gray-900 bg-gray-800 h-10 rounded-lg shadow-lg focus:outline-0 focus:border-black focus:border-2" style="width:300px;" type="text">
                    </div>
                </div>
                <div class="flex flex-col mt-12 space-y-4">
                    <div class="mx-auto">Estado</div>
                    <div class="mx-auto select-none" id="profesionalStatus" onclick="toggleProfesionalStatus(this)">
                        
                    </div>
                    <div class="mx-auto text-sm">Click para cambiar</div>
                </div>
           </div>
            
        </div>
        
        <div class="grid w-full grid-cols-3 select-none">
            <div class="flex"><div class="my-auto mr-auto ml-8 px-3 py-1 rounded-lg shadow-lg bg-red-400 text-white font-medium 
                    hover:bg-red-500 transition duration-200" onclick="leaveEditUser()">Cancelar</div></div>
            <div class="flex">
                <!-- <div class="m-auto px-3 py-1 rounded-lg shadow-lg bg-blue-400 text-white font-medium 
                hover:bg-blue-500 transition duration-200">Cambiar contraseña</div> -->
            </div>
            <div class="flex"><div class="my-auto ml-auto mr-8 px-3 py-1 rounded-lg shadow-lg bg-green-400 text-white font-medium 
                hover:bg-green-500 transition duration-200" onclick="uploadProfesionalUpdate()">Aplicar</div></div>
        </div>
        
    </div>
</div>



<script>

    function toggleProfesionalStatus(element){
        if (element.innerHTML == inputActiveUserHTML) return element.innerHTML = inputDisabledUserHTML;
        element.innerHTML = inputActiveUserHTML;
    }
    
    const profesionalImage = document.getElementById("profesionalPFP");
    var loadFile = function (event) {
        
        profesionalImage.src = URL.createObjectURL(event.target.files[0]); // Se puede usar para transformar un blob en url

        const imageFile = event.target.files[0]

        resize(imageFile, 80, 80, "image/png")


        
    };
    const profesionalUsernameInput = document.getElementById("profesionalUsernameInput")
    const profesionalNombresInput = document.getElementById("profesionalNombresInput")
    const profesionalApellidosInput = document.getElementById("profesionalApellidosInput")
    const profesionalEmailInput = document.getElementById("profesionalEmailInput")
    const profesionalTelefonoInput = document.getElementById("profesionalTelefonoInput")

    async function uploadProfesionalUpdate(){
        const userID = document.getElementById("profesionalUserID").getAttribute("userID");
        const currentUser = cachedUsers.find((user) => user["ID_CUENTA"] == userID);
        const userStatus = document.getElementById("profesionalStatus").children[0].getAttribute("status");

        if(!cachedImage){
            if(currentUser["IMAGEN"]) cachedImage = currentUser["IMAGEN"];
            else{
                cachedImage = null;
            }
        } 
        
        const data = { 
            f_accountID: userID, 
            f_image: cachedImage, 
            f_username: profesionalUsernameInput.value, 
            f_nombres: profesionalNombresInput.value, 
            f_apellidos: profesionalApellidosInput.value, 
            f_email: profesionalEmailInput.value, 
            f_telefono: parseInt(profesionalTelefonoInput.value), 
            f_estado: parseInt(userStatus)
        }

        console.log(data)


        await axios({
                method: 'post',
                url: 'http://localhost:3001/editUser',
                data: data
            }).then(
                Swal.fire({
                    title: "<h5 style='color:white'>" + "Exito" + "</h5>",
                    html: "<p style='color:white'>" + "Cambios realizados exitosamente" + "</p>",
                    icon: 'success',
                    background: '#272727',
                    showCancelButton: false,
                    confirmButtonColor: '#7BCA6F',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            leaveEditUser()
                    }
                })
            );


    }







</script>





        </div>
  
        <div class="dashboardOptionsBody hidden" style="height: 100vh;">
          <div class="mainView">
    <div class="border-b border-gray-800 shadow-lg w-full h-16 grid select-none" style="grid-template-columns: 150px 0.9fr 1fr;">
        <div class="flex ml-4 mr-auto my-auto space-x-2">
            <i class="m-auto text-gray-200 fa-solid fa-pen-to-square"></i>
            <div class="italic text-white font-bold">Clientes</div>
        </div>
        <div class="text-gray-200 font-medium flex mr-auto my-auto space-x-4" id="clientsDisplayOptionContainer">
            <div class="clientsDisplayOption px-2 rounded-lg hover:bg-gray-600 bg-gray-800 active" option="1" onclick="toggleClientsDisplay(this)">Todos</div>
            <div class="clientsDisplayOption px-2 rounded-lg hover:bg-gray-600" option="2"  onclick="toggleClientsDisplay(this)">Activos</div>
            <div class="clientsDisplayOption px-2 rounded-lg hover:bg-gray-600" option="3"  onclick="toggleClientsDisplay(this)">Inactivos</div>
            <div class="clientsDisplayOption px-2 rounded-lg hover:bg-gray-600" option="4"  onclick="toggleClientsDisplay(this)">Empresas</div>
        </div>
        <div class="text-gray-200 font-medium flex space-x-3 ml-auto pr-4">
            <div class="px-3 py-1 rounded-lg bg-green-600 hover:bg-green-700 my-auto">Añadir Cliente</div>
            <div class="px-3 py-1 rounded-lg bg-orange-700 hover:bg-orange-800 my-auto">Añadir Empresa</div>
        </div>
    </div>
    
    <div class="py-2 w-full flex my-auto px-6">
        <input id="clientesSearch" class="border rounded-lg h-12 w-full pl-2 text-gray-200 text-xl bg-gray-800 border-gray-900 border-2 focus:border-black focus:outline-none focus:border-3" type="text" placeholder="Buscar"/>
    </div>
    
    <div class="p-2 text-gray-100 select-none overflow-y-auto" id="clientListContainer">
    
    </div>
</div>
    



<div class="editView text-white h-full hidden">
    <div class="grid h-full" style="grid-template-rows: 1fr 100px;">
        <div class="flex flex-col" id="clientUserID">
            <div class="w-full h-36 grid" style="grid-template-columns: 150px 1fr;">
                <div class="ml-12 m-auto profile-pic flex">
                    <label class="-label bg-gray-200 rounded-full" for="file">
                      <span class="glyphicon glyphicon-camera"></span>
                    </label>
                    <input id="file" type="file" onchange="loadFile(event)"/>
                    <img src="https://cdn.icon-icons.com/icons2/2506/PNG/512/user_icon_150670.png" id="clientPFP" width="200" />
                  </div>

                  <div class="flex flex-col">
                    <div class="text-gray-300 italic mt-12 text-xl" id="clientRutDisplay">Rut: 11.111.111-1</div>
                    <div class="flex space-x-2">
                        <div class="my-auto">Username:</div>
                        <input id="clientUsernameInput" class="pl-2 font-medium border border-gray-900 bg-gray-800 h-8 rounded-lg shadow-lg focus:outline-0 focus:border-black focus:border-2" style="width:150px;" type="text">
                    </div>
                  </div>
                  
            </div>
            
           <div class="grid" style="grid-template-columns:1.4fr 1fr;">
                <div class="flex flex-col space-y-4 ml-12 mt-12">
                    <div class="grid" style="grid-template-columns: 120px 1fr;">
                        <div class="my-auto">Nombres:</div>
                        <input id="clientNombresInput" class="pl-2 font-medium border border-gray-900 bg-gray-800 h-10 rounded-lg shadow-lg focus:outline-0 focus:border-black focus:border-2" style="width:300px;" type="text">
                    </div>
                    <div class="grid" style="grid-template-columns: 120px 1fr;">
                        <div class="my-auto">Apellidos:</div>
                        <input id="clientApellidosInput" class="pl-2 font-medium border border-gray-900 bg-gray-800 h-10 rounded-lg shadow-lg focus:outline-0 focus:border-black focus:border-2" style="width:300px;" type="text">
                    </div>
                    <div class="grid" style="grid-template-columns: 120px 1fr;">
                        <div class="my-auto">Email:</div>
                        <input id="clientEmailInput" class="pl-2 font-medium border border-gray-900 bg-gray-800 h-10 rounded-lg shadow-lg focus:outline-0 focus:border-black focus:border-2" style="width:300px;" type="text">
                    </div>
                    <div class="grid" style="grid-template-columns: 120px 1fr;">
                        <div class="my-auto">Telefono:</div>
                        <input id="clientTelefonoInput" class="pl-2 font-medium border border-gray-900 bg-gray-800 h-10 rounded-lg shadow-lg focus:outline-0 focus:border-black focus:border-2" style="width:300px;" type="text">
                    </div>
                </div>
                <div class="flex flex-col mt-12 space-y-4">
                    <div class="mx-auto">Estado</div>
                    <div class="mx-auto select-none" id="clientStatus" onclick="toggleClientStatus(this)">
                        
                    </div>
                    <div class="mx-auto text-sm">Click para cambiar</div>
                </div>
           </div>
            
        </div>
        
        <div class="grid w-full grid-cols-3 select-none">
            <div class="flex"><div class="my-auto mr-auto ml-8 px-3 py-1 rounded-lg shadow-lg bg-red-400 text-white font-medium 
                    hover:bg-red-500 transition duration-200" onclick="leaveEditUser()">Cancelar</div></div>
            <div class="flex">
                <!-- <div class="m-auto px-3 py-1 rounded-lg shadow-lg bg-blue-400 text-white font-medium 
                hover:bg-blue-500 transition duration-200">Cambiar contraseña</div> -->
            </div>
            <div class="flex"><div class="my-auto ml-auto mr-8 px-3 py-1 rounded-lg shadow-lg bg-green-400 text-white font-medium 
                hover:bg-green-500 transition duration-200" onclick="uploadClientUpdate()">Aplicar</div></div>
        </div>
        
    </div>
</div>

<script>

    function toggleClientStatus(element){
        if (element.innerHTML == inputActiveUserHTML) return element.innerHTML = inputDisabledUserHTML;
        element.innerHTML = inputActiveUserHTML;
    }
    
    const image = document.getElementById("clientPFP");
    var loadFile = function (event) {
        
        image.src = URL.createObjectURL(event.target.files[0]); // Se puede usar para transformar un blob en url

        const imageFile = event.target.files[0]

        resize(imageFile, 80, 80, "image/png")


        
    };
    const clientUsernameInput = document.getElementById("clientUsernameInput")
    const clientNombresInput = document.getElementById("clientNombresInput")
    const clientApellidosInput = document.getElementById("clientApellidosInput")
    const clientEmailInput = document.getElementById("clientEmailInput")
    const clientTelefonoInput = document.getElementById("clientTelefonoInput")

    async function uploadClientUpdate(){
        const userID = document.getElementById("clientUserID").getAttribute("userID");
        const currentUser = cachedUsers.find((user) => user["ID_CUENTA"] == userID);
        const userStatus = document.getElementById("clientStatus").children[0].getAttribute("status");

        if(!cachedImage){
            if(currentUser["IMAGEN"]) cachedImage = currentUser["IMAGEN"];
            else{
                cachedImage = null;
            }
        } 
        
        const data = { 
            f_accountID: userID, 
            f_image: cachedImage, 
            f_username: clientUsernameInput.value, 
            f_nombres: clientNombresInput.value, 
            f_apellidos: clientApellidosInput.value, 
            f_email: clientEmailInput.value, 
            f_telefono: parseInt(clientTelefonoInput.value), 
            f_estado: parseInt(userStatus)
        }



        console.log(data["f_accountID"])
        // Validar datos de data


        // ES VALIDO O NO


        // SI QUIERES CANCELAR EL EDITAR PON RETURN
        // if(error)  return;

        await axios({
                method: 'post',
                url: 'http://localhost:3001/editUser',
                data: data
            }).then(
                Swal.fire({
                    title: "<h5 style='color:white'>" + "Exito" + "</h5>",
                    html: "<p style='color:white'>" + "Cambios realizados exitosamente" + "</p>",
                    icon: 'success',
                    background: '#272727',
                    showCancelButton: false,
                    confirmButtonColor: '#7BCA6F',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Aceptar'
                    }).then((result) => {
                        if (result.isConfirmed) {
                            leaveEditUser()
                    }
                })
            );


    }

    


</script>


        </div>
  
        <div class="dashboardOptionsBody hidden" style="height: 100vh;">
          <div class="mainView">

</div>
        </div>
  
        <div class="dashboardOptionsBody hidden" style="height: 100vh;">
          <div class="mainView">

</div>
        </div>
  
        <div class="dashboardOptionsBody hidden" style="height: 100vh;">
          <div class="mainView">

</div>
        </div>
  
        <div class="dashboardOptionsBody hidden" style="height: 100vh;">
          <div class="mainView">

</div>
        </div>
  
        <div class="dashboardOptionsBody hidden" style="height: 100vh;">
          
        </div>
  
        <div class="dashboardOptionsBody hidden" style="height: 100vh;">
          
        </div>
  
       </div>
    </div>

    
      
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"
      charset="utf-8"
    ></script>
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.js"></script>

  <script defer src="../viewScripts/adminDashboard.js"></script>
  </body>
</html>