{% extends 'cliente/base.html' %}
{% block head %}
<title>Home</title>
{% endblock head %}

{% block body %}


<div class="container-fluid">
    <br>
    <h1  style="margin-left: 35%;margin-top:10px"><dd>Home</h1>
        <br><br>
    <h4 class="fw-bolder"style="margin-left: 10%; ">Nombre Empresa:</h4>
    <br>
    <h4 class="fw-bolder"style="margin-left: 10%; ">Visita disponible:</h4>
    <br>
    <h4 class="fw-bolder"style="margin-left: 10%; ">Fecha de pago:</h4>
    <br>
    <h4 class="fw-bolder"style="margin-left: 10%; ">Estado Mejora:</h4>
</div>

{% endblock body %}