{% extends 'cliente/base.html' %}
{% block head %}
<title>Plan de Mejora</title>
{% endblock head %}

{% block body %}


<div class="container"style="margin-right:60%;">
    <div class="mt-5" >

        <h1 style="margin-left:30%;">&nbsp&nbspPlan de mejora</h1>
        <br>
    </div>


<div class="row"style="margin-left:20%;margin-right:10%">
  <div class="col-8">
    <div class="card mt-2 mx-auto p-4 bg-dark">
      
            <table class="table-dark text-light">
                <thead>
                  <tr >
                    <th scope="col">Estado</th>
                    <th scope="col">Mejora</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="margin-top:30%;">
                    <th scope="row"><input style="width:20px;height:20px;margin-left:10%;margin-top:10%"type="checkbox" checked autocomplete="off"></th>
                    <th scope="col">Cambiar los extintores</th>
                  </tr>
                  
                </tbody>
              </table>
      
    
        
    </div>
</div>


{% endblock body %}